
<h1 class="title">Istwa La De Ferdinand</h1>
<div class="book_wrapper">
	<a id="next_page_button"></a>
	<a id="prev_page_button"></a>
	<div id="loading" class="loading">Loading pages...</div>
	<div id="mybook" style="display:none;">
		<div class="b-load">
			<div>
				<img src="images/ferdinand-1.png" alt=""/>
			</div>
			
			<div>
				<img src="images/ferdinand-2.png" alt="" />
				<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span id="big_s"> S</span>e te yon lè an Espay</p>
			</div>
			
			<div>
				<img src="images/ferdinand-3.png" alt="" />
				<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Te genyen yon ti towo e yo te rele li Ferdinand</p>
			</div>
			
			<div>
				<img src="images/ferdinand-4.png" alt="" />
				<p>Tout lòt ti towo t'ap kouri e sote e frape kòn-yo ansanm,</p>
			</div>
			
			<div>
				<img src="images/ferdinand-5.png" alt="" />
				<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Men se pa Ferdinand.</p>
			</div>
			
			<div>
				<img src="images/ferdinand-6.png" alt="" />
				<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Li te renmen chita dousman e santi flè yo</p>
			</div>
			
			<div>
				<img src="images/ferdinand-7.png" alt="" />
				<p>Li te genyen yon plas prefere deyo nan tèren anba yon pye bwa gayak.</p>
			</div>
			
			<div>
				<img src="images/ferdinand-8.png" alt="" />
				<p>Li te renmen pye bwa a anpil e li te chita nan lonbraj li tout tan e santi flè yo.</p>
			</div>
			
			<div>
				<img src="images/ferdinand-9.png" alt="" />
				<p>Pafwa manman li, ki te yon bèf, te enkyete pou li.  Li te pè, li te izole poukont li.</p>
			</div>
			
			<div>
				<img src="images/ferdinand-10.png" alt="" />
				<p>« Poukisa ou pa kouri e jwe avèk lòt ti-towo yo e sote e frape kòn ak yo? »  Li ta di.  Men Ferdinand ta souke tèt li.  « Mwen pi renmen isit la, kote mwen chita trankil e santi flè yo. »</p>
			</div>
			
			<div>
				<img src="images/ferdinand-11.png" alt="" />
				<p>Manman li te wè li pa't izole e li se yon manman ki konprann byen, malgre li se yon bèf, li kite li chita la kontan.</p>
			</div>
			
			<div>
				<img src="images/ferdinand-12.png" alt="" />
				<p>Tankou ane yo te pase, Ferdinand grandi e grandi jiskaske li te gwo anpil e fò.</p>
			</div>
			
			<div>
				<img src="images/ferdinand-13.png" alt="" />
				<p>Tout lòt towo yo te grandi avèk li nan menm tèren an yo t'ap goumen chak jou youn ak lòt.  Youn t'ap frape e pike lòt avèk kòn yo.  Sa yo te pi vle se pou nèg yo chwazi yo pou goumen nan Kapital la.</p>
			</div>
			
			<div>
				<img src="images/ferdinand-14.png" alt="" />
				<p>Men se pa Ferdinand - li toujou renmen chita trankil anba pye bwa gayak la e santi flè yo.</p>
			</div>
			
			<div>
				<img src="images/ferdinand-15.png" alt=""/>
				<p>Yon jou, senk nèg te vini ak kaskèt trè etranj pou chwazi towo ki pi vit e pi move pou goumen nan Kapital la.</p>
			</div>
			
			<div>
				<img src="images/ferdinand-16.png" alt=""/>
				<p>Tout lòt towo yo t'ap kouri tou pa tou yo t'ap begle e t'ap frape kòn yo, sote e ponpe pou nèg yo panse yo trè fò e mechan e pou nèg yo chwazi yo.</p>
			</div>
			
			<div>
				<img src="images/ferdinand-17.png" alt=""/>
				<p>Ferdinand te konnen nèg yo pa t'ap chwazi li e li pa't gen problèm.  Epi li te soti pou l'al chita anba pye bwa li prefere a.</p>
			</div>
			
			<div>
				<img src="images/ferdinand-18.png" alt=""/>
				<p>Li pa't gade ki kote l'ap chita e olye li chita nan zèb byen fre nan lonbraj la li chita sou yon myèl.</p>
			</div>
			
			<div>
				<img src="images/ferdinand-19.png" alt=""/>
				<p>Ebyen, si ou se yon myèl e yon towo te chita sou ou, ki sa ou t'ap fè.  Ou t'ap pike li, e se sa myèl la te fè pou Ferdinand.</p>
			</div>
			
			<div>
				<img src="images/ferdinand-20.png" alt=""/>
				<p>Mezami!  Sa te bay doulè!  Ferdinand ponpe pandan l'ap begle.  Li te kouri tou pa tou ogeye e begle e frape e grate tè a tankou li te fou.</p>
			</div>
			
			<div>
				<img src="images/ferdinand-21.png" alt=""/>
				<p>Senk nèg yo te wè li e yo rele avèk jwa.  Se ekzakteman youn konsa nou bezwen pou konba bèf an Espay.</p>
			</div>
			
			<div>
				<img src="images/ferdinand-22.png" alt=""/>
				<p>Epi yo pran li nan youn kabwa pou jou batay la.</p>
			</div>
			
			<div>
				<img src="images/ferdinand-23.png" alt=""/>
				<p>Jou-sa se youn jou mèveye!  Drapo t'ap flote e gwoup mizik yo t'ap jwe mizik.</p>
			</div>
			
			<div>
				<img src="images/ferdinand-24.png" alt=""/>
				<p>E tout bèl fi yo te gen flè nan cheve yo.</p>
			</div>
			
			<div>
				<img src="images/ferdinand-25.png" alt=""/>
				<p>Yo t'ap defile pou y'ale nan stad kote towo yo pral goumen an.</p>
			</div>
			
			<div>
				<img src="images/ferdinand-26.png" alt=""/>
				<p>Premye Banderilleros yo te vini avèk zepeng long e pwenti avèk riban pou pike towo a e fè li fache.</p>
			</div>
			
			<div>
				<img src="images/ferdinand-27.png" alt=""/>
				<p>Lòt Picadores yo te vini sou chwal skelèt yo e yo genyen fwenn long pou pike towo a e fè li pi fache.</p>
			</div>
			
			<div>
				<img src="images/ferdinand-28.png" alt=""/>
				<p>Epi Matador a te vini, li pi fyè pase tout, li te panse li bèl anpil e li te koube devan fi yo.  Li gen yon twal wouj e yon epe e li dwe pike towo a an dènye aprè tout.</p>
			</div>
			
			<div>
				<img src="images/ferdinand-29.png" alt=""/>
				<p>Epi towo a te vini, e ou konn ki towo ki te vini an, vre?<br/>-FERDINAND.</p>
			</div>
			
			<div>
				<img src="images/ferdinand-30.png" alt=""/>
				<p>Yo te rele li « Ferdinand Feròs » e tout Banderilleros yo te pè li e Picadores yo te pè li e Matador a te pi pè li pase tout.</p>
			</div>
			
			<div>
				<img src="images/ferdinand-31.png" alt=""/>
				<p>Ferdinand te kouri nan mitan stad la e tout moun rele e aplodi paske yo te panse li t'ap goumen avèk kouraj e frape kòn e begle e pike kòn tou pa tou.</p>
			</div>
			
			<div>
				<img src="images/ferdinand-32.png" alt=""/>
				<p>Men se pa Ferdinand.  Lè li te rive nan mitan stad la, li te wè flè yo nan cheve bèl fi yo e li te chita trankil e li te santi flè yo.</p>
			</div>
			
			<div>
				<img src="images/ferdinand-33.png" alt=""/>
				<p>Li pa't goumen e li pa't fè fèros malgre tout sa nèg yo t'ap fè.  Li te chita e santi flè yo.  E Banderilleros yo te fache e Picadores yo te pi fache e Matador a te tèlman fache li te kye paske le pa't ka moutre lòt moun yo bèl rad li a e epe li a.</p>
			</div>
			
			<div>
				<img src="images/ferdinand-34.png" alt=""/>
				<p>Epi yo mennen Ferdinand retounen lakay li</p>
			</div>
			
			<div>
				<img src="images/ferdinand-35.png" alt=""/>
				<p>E pou tout sa mwen konnen li ap chita la kounyè a, anba pye bwa prefere'l la, santi flè yo trankil ak kontantman.</p>
			</div>
			
			<div>
				<img src="images/ferdinand-36.png" alt=""/>
			</div>
		</div>
	</div>
</div>
    <div>
        <span class="reference">
		<a href="http://builtbywill.com/code/booklet/" target="_blank">booklet jQuery Plugin</a>
        </span>
</div>
