<!DOCTYPE html>
<html>
<head>
  <title>Ferdinand</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="description" content="Ferdinand" />
  <meta name="keywords" content="Ferdinand, Kreyol, Creole"/>
	<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon"/>
  
</head>
<body>

<%= yield %>

</body>
</html>
